<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Pelicula</title>
    <link rel="stylesheet" href="Estilos2.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head> 
<body>  
    <header class="head1">
        <div class="logo"></div>
        <nav class="navegacion">
            <ul>
                <li><a href="dashboard.html">Inicio</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <div class="title2">
        <h1 class="title2-h1">Agregar Pelicula</h1>
        <form method="post">
            <div class="pelicula">
                <input name="pelicula" type="text" required placeholder="Nombre de pelicula">
            </div>
            <div class="duracion">
                <input name="duracion" type="number" required placeholder="Duración (horas)">
            </div>
            <div class="año">
                <input name="año" type="number" required placeholder="Año de estreno">
            </div>
            <div class="boton">
                <button class="botonAgregar">Agregar película</button>
            </div>
        </form>
     </div>
     <footer class="footer">
        <p></p>
        <div class="footer-contacts">
          <a href="https://www.facebook.com/UPQoficial?locale=es_LA" target="_blank" class="footer-icon"><i class="fa-brands fa-facebook fa-2x"></i></a>
          <a href="https://twitter.com/UPQoficial" target="_blank" class="footer-icon"><i class="fa-brands fa-twitter fa-2x"></i></a>
          <a href="https://www.instagram.com/soyupq/" target="_blank" class="footer-icon"><i class="fa-brands fa-instagram fa-2x"></i></a>
        </div>
        <div class="copy-right">
          <p>&copy; 2024 Universidad Politécnica de Querétaro. Todos los derechos reservados.</p>
        </div>
        </footer>
        
      </footer>
</body>

</html>